#sobrenos {
    padding: 5% 20%;
    display: block;

}

#colunagrifo{

	width: 50%;
	display: inline-block;

}


#colunaquintao{

	width: 50%;
	display: inline-block;

}

#grifopic{

	display: block;
    margin: 0 auto;
    height: 400px;
    width: auto;



}

#quintaopic{

	display: block;
    margin: 0 auto;
    height: 400px;
    width: auto;


}

.aboutusbutton{

	background-color: #B3ACA6;
    color: white;
    text-align: center; 
    text-decoration: none;


}